:root {
  --black: #141414;
  --green: #a1c487;
  --light-green: #eaf7e5;
  --dotted: #a2c4877e;
  --orange: #fc8a11;
  --beige: #faf3e7;
  --gray: #f3f3f3;
  --white: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  --font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* //////////////// HEADER////////// */

.menu_button-open {
  display: inline-flex;
  align-items: center;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.menu_button-open[aria-expanded="true"] {
  display: none;
}

.menu-toggle {
  display: block;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.site-nav {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  /* width: 100%; */
  background: #333;
  padding: 10px 0;
  /* @media screen and (max-width: 768px) {
    max-width: 100%;
    
  } */
}

@media (max-width: 768px) {
  .site-nav.active {
    display: flex;
    gap: 16px;
    background-color: var(--green);
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  .site-nav_list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 124px;
  }
  .site-nav_link {
    color: var(--white);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;

    /* line-height: 18px; */
    line-height: 1.28571;
    letter-spacing: -0.04em;
    text-align: center;
    color: #fff;
  }
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .site-nav {
    display: flex;
    /* display: flex !important; */
    position: static;
    flex-direction: row;
    background: none;
  }
}

.site-nav_list {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.04em;
  text-align: center;
}
.site-nav_link {
  color: var(--black);
  @media (max-width: 768px) {
    color: var(--white);
  }
}

.logo {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  /* @media screen and (min-width: 768px){ */
  /* margin-right: 251px; */

  /* } */

  /* margin-top: 16px; */
}

.button-order {
  all: unset;
  display: none;
  background: transparent;
  cursor: pointer;

  padding: 0;
  margin: 0;
  line-height: 1;
  margin-right: 12px;
  @media screen and (min-width: 768px) {
    display: block;
  }
  @media screen and (max-width: 768px) {
    transform: translateX(-44px) translateY(300px);
    z-index: 4;
  }
}
.button-order.active {
  display: block;
}
.button-order > svg {
  @media screen and (max-width: 768px) {
    fill: var(--white);
  }
}
.header-container {
  /* border:#141414 dotted; */
  display: flex;
  width: 100%;
  /* max-width: 375px; */
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    padding-left: 32px;
    padding-right: 32px;
  }
  .site-nav_list {
    display: flex;
    gap: 14px;
    /* margin: 16px 86px 16px 32px;
    */
  }
}

.js-close-menu {
  display: none;
}
@media screen and (max-width: 768px) {
  .js-close-menu.active {
    display: block;
  }
}

/* /////////////////////////////.  HERO /////////////////////////// */
.container-hero {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    padding-top: 185px;
    gap: 27px;
  }
}

.section-hero {
  background-color: var(--green);
}

.user-list {
  display: flex;
  padding-top: 48px;
  max-width: fit-content;
  /* margin-left: 20px; */
  @media screen and (min-width: 1280px) {
    padding: 0;
  }
}
.user-list_photo {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  @media screen and (min-width: 768px) {
    width: 54px;
    height: 54px;
  }
  @media screen and (min-width: 1280px) {
    width: 70px;
    height: 70px;
  }
}
.user-list_item:not(:first-child) {
  margin-left: -16px;
}

.user-list_item:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--white);
  border-radius: 100%;
  width: 44px;
  height: 44px;
  font-size: 8px;
  text-align: center;
  @media screen and (min-width: 768px) {
    width: 55px;
    height: 55px;
    font-size: 10px;
  }
  @media screen and (min-width: 1280px) {
    width: 70px;
    height: 70px;
    font-size: 12px;
  }
}
/* .user-list_item:last-child > span {
    margin-left: -16px;
} */
.start-user-list__item_number {
  font-size: 14px;
  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 24px;
  }
}

.hero-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  /* line-height: 44px; */
  line-height: 1.1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fff;

  max-width: 335px;
  height: auto;
  /* height: 132px; */
  margin-bottom: 14px;
  @media screen and (min-width: 768px) {
    font-size: 54px;

    /* line-height: 64px; */
    line-height: 1.18519;
    max-width: 656px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 672px;
    font-size: 64px;

    /* line-height: 75px; */
    line-height: 1.17188;
  }
}
.hero-title_accent {
  font-style: italic;
  color: var(--light-green);
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 20px;
  @media screen and (min-width: 768px) {
    max-width: 490px;
    margin-bottom: 32px;
  }
}

.hero-btn {
  width: 68px;
  height: 68px;
  border: none;
  border-radius: 100%;
  fill: var(--beige);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;

  /* line-height: 16px; */
  line-height: 1.14286;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--orange);
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
  transform: rotate(-14deg);
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    margin-bottom: 4px;
    width: 114px;
    height: 114px;

    font-size: 24px;

    /* line-height: 24px; */
    line-height: 1;
  }
}
/* .hero-btn:hover {

} */

.hero-btn:hover,
.hero-btn:focus {
  transform: translateY(-4px) scale(1.06);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.16);
}

.hero-img {
  width: 100%;
  max-width: 303px;
  height: auto;
  /* height: 236px; */
  clip-path: inset(2px);
  margin-bottom: 8px;
  @media screen and (min-width: 768px) {
    max-width: 488px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (min-width: 1280px) {
    /* image 1 */
    max-width: 517px;
    margin-bottom: 50px;
  }
}

.hero-list {
  display: grid;

  grid-template-columns: auto auto;
  gap: 4px;
  justify-content: end;
  margin-bottom: 20px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.hero-list_item {
  border: 1px solid #fff;
  border-radius: 1000px;
  padding: 8px 14px;
  width: fit-content;
  height: 28px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 10px;

  /* line-height: 12px; */
  line-height: 1.2;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
}
.hero-list_item:last-child {
  transform: translateX(-8px);
}

.hero-list_item:hover,
.hero-list_item:focus {
  color: var(--black);
  background-color: var(--white);
}
.hero-right {
  display: flex;
  flex-direction: column;
}

/*    ////////////////////////How it works/////////////////// */

.container-how {
  /* padding-top: 80px;
  padding-right: 80px;
  padding-left: 20px;
  padding-right: 20px; */
  padding: 80px 20px;
}
.how-title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;

  /* line-height: 32px; */
  line-height: 1.14286;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 20px;
}

.how-img {
  width: 100%;
  max-width: 335px;
  margin-bottom: 20px;
}

.how-text-one,
.how-text-two {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: var(--black);
}
.how-text-one {
  margin-bottom: 20px;
}
.how-text-two {
  margin-bottom: 80px;
}

.how-steps {
  border-radius: 40px;
  background: var(--beige);
  background-image: radial-gradient(var(--dotted) 2.5px, transparent 1px);
  background-size: 40px 40px;

  padding: 40px 20px 0;
  line-height: 0;
}
.how-steps__title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;

  /* line-height: 28px; */
  line-height: 1.16667;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}

.how-steps__list {
  list-style: none;
  counter-reset: step;
  padding: 0;
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.how-steps__item {
  counter-increment: step;
  position: relative;
  padding-left: 54px;
  padding-right: 65px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;

  /* line-height: 18px; */
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: var(--black);
}

.how-steps__item::before {
  content: counter(step);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* margin-right: 14px; */
  width: 40px;
  height: 40px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--green);
  color: var(--black);
  font-weight: 400;
  font-size: 18px;
}

.how-steps__img {
  width: 100%;
  max-width: 258px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .container-how {
    padding: 100px 32px;
  }

  .how-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: space-between;
  }
  .how-title {
    /* flex-basis: 386px; */
    width: 386px;

    order: 1;
    color: rgba(20, 20, 20, 1);

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;

    /* line-height: 44px; */
    line-height: 1.1;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: var(--black);
    /* margin-right: 8px; */
    margin-bottom: 40px;
  }

  .how-img {
    /* flex-basis:  310px;; */
    max-width: 310px;
    /* img vegetables */

    height: 176px;
    order: 2;
    /* display: flex;
    justify-content: flex-end; */
    margin-bottom: 40px;
  }

  .how-text-one,
  .how-text-two {
    width: 317px;
    /* flex-basis: 50%; */
    order: 3;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;

    /* line-height: 24px; */
    line-height: 1.33333;
    letter-spacing: -0.04em;
    color: var(--black);
    margin-bottom: 100px;
  }

  .how-steps {
    display: flex;
  }
  .how-steps__img {
    /* img girl */

    order: 1;
    width: auto;
    max-width: 350px;
    flex: 0 0 auto;
    padding-top: 40px;
  }
  .how-steps-rigth {
    order: 2;
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .how-steps__title {
    font-size: 28px;

    /* line-height: 32px; */
    line-height: 1.14286;
    text-shadow: 0 4px 70px 0 rgba(0, 0, 0, 0.1);
    padding-right: 40px;
  }
  .how-steps__list {
    padding-right: 39px;
  }
}

@media screen and (min-width: 1280px) {
  .container-how {
    padding: 124px 32px 124px;
  }

  .how-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
  .how-title {
    width: 614px;
    font-size: 48px;
    line-height: 1.04167;
  }
  .how-img {
    max-width: 410px;
  }
  .how-text-one {
    margin-right: 40px;
    width: 353px;
  }

  .how-text-two {
    margin-right: auto;
  }
  .how-text-one,
  .how-text-two {
    font-size: 18px;
    line-height: 1.33333;
  }
.how-steps{
  padding: 0px 80px 0;
}

.how-steps__title{
  font-size: 40px;

/* line-height: 44px; */ 
line-height: 1.1;
margin-bottom: 44px;
padding-right: 0
;
}
.how-steps__img{
  max-width: 434px;
  margin-right: 110px;
margin-top: 40px;
padding-top: 0;
}
.how-steps-rigth {
          margin-top: 80px;
          padding-top: 0;
          padding-bottom: 0;
}

.how-steps__list{
  padding-right: 163px;
  gap: 28px;
  
}
}
/* ////////////////////////////Advertisement//////////////////////// */

.marquee {
  overflow: hidden;
 font-family: "Neue Montreal", sans-serif;
font-weight: 500;
font-size: 24px;

/* line-height: 28px; */ 
line-height: 1.16667;
letter-spacing: -0.02em;
color: var(--white);
  text-transform: uppercase;
  background-color: var(--orange);
  transform: rotate(-4deg);
  @media screen and (min-width: 768px) {
    font-size: 28px;

/* line-height: 32px; */ 
line-height: 1.14286;

    transform: rotate(2.00deg);}
  @media screen and (min-width: 1280px) {
    transform: rotate(3.00deg);
    font-size: 40px;

/* line-height: 48px; */ 
line-height: 1.2;

  }
}
.marquee:last-child {
  background-color: var(--green);
  transform: rotate(7deg);
  @media screen and (min-width: 768px) {

    transform: rotate(-4.00deg);}
   @media screen and (min-width: 1280px) {
    transform: rotate(-2.00deg);
  }

}
.marquee__inner {
  display: flex;
}

.marquee__line {
  flex-shrink: 0;
  margin: 0;
  padding: 10px 15px;
  min-width: 100%;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  
  to {
    transform: translateX(-100%);
  }
}

.gallery-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* ////////////////////////////Product Card//////////////////////// */

.product-card {
  position: relative;
  background-color: var(--light-green);
  border-radius: 20px;
  padding: 40px 20px 20px;
  min-height: 280px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .product-card__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 4px;
} */

.product-card__title {
  font-family: var(--font-family);
  font-weight: 700;
 width: 70px;
height: 28px;
line-height: 1.16667;
  letter-spacing: -0.04em;
  color: var(--black);
  margin: 0;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.product-card__category {
  font-family: var(--font-family);
 font-weight: 400;
font-size: 14px;

/* line-height: 18px; */ 
line-height: 1.28571;
  letter-spacing: -0.04em;
  color: var(--black);
margin-bottom: 40px;
  text-transform: capitalize;
}

.product-card__price {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.04em;
  color: var(--black);
  margin: 0;
  margin-top: auto;
}

/* .product-card__image-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 70%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: rotate(-15deg) translate(10%, 10%);} */ 

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.1));
  margin-bottom: 48px;
}

@media screen and (min-width: 768px) {
  .product-card {
    min-height: 320px;
    padding: 24px;
    border-radius: 24px;
  }

  .product-card__title {
    font-size: 40px;
  }

  .product-card__category {
    font-size: 18px;
  }

  .product-card__price {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .product-card {
    min-height: 360px;
    padding: 28px;
    border-radius: 28px;
  }

  .product-card__title {
    font-size: 48px;
  }

  .product-card__category {
    font-size: 20px;
  }

  .product-card__price {
    font-size: 20px;
  }
}


