
 :root {
	--black: #141414;
	--green: #a1c487;
	--light-green: #eaf7e5;
	--orange: #fc8a11;
	--beige: #faf3e7;
	--gray: #f3f3f3;
  --white: #FFFFFF;
}


body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  --font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  /* padding-left: 15px;
  padding-right: 15px; */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
} 

/* //////////////// HEADER////////// */
.site-nav_list {
     font-family: var(--font-family);
font-weight: 400;
font-size: 14px;
line-height: 129%;
letter-spacing: -0.04em;
text-align: center;
color: var(--black);
}
.site-nav_link {
    color: var(--black);
}
.logo {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
display: inline-flex;
align-items: center;
gap: 8px;

/* line-height: 18px; */ 
line-height: 1.28571;
letter-spacing: -0.04em;
text-transform: uppercase;
text-align: center;
color: var(--black);
margin-right: 251px;
/* margin-top: 16px; */
}


.button-order {
    all: unset; 
  background: transparent; 
  cursor: pointer; 

  padding: 0;
  margin: 0;
  line-height: 1;
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .header-container {
     border:#141414 dotted;
    display: flex;
    /* justify-content: space-around; */
  }
  .site-nav_list {
    display: flex;
    gap: 14px;
    margin: 16px 86px 16px 32px;
   
  }
}

/* HERO /////////////////////////// */
.container-hero {
  padding-left: 20px;
padding-right: 20px;

}
.container-hero {
 background-color: var(--green);
}

.user-list{
  display: flex;
  padding-top: 48px;
  /* margin-left: 20px; */

}
.user-list_photo{
  width: 44px;
  height: 44px;
  border-radius: 100%;
  @media screen and (min-width: 768px) {
  width: 54px;
  height: 54px;
 
}
}
.user-list_item:not(:first-child) {
  margin-left: -16px;
}

.user-list_item:last-child {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
background-color: var(--white);
border-radius: 100%;
width: 44px;
height: 44px;
font-size: 8px;
text-align: center;
@media screen and (min-width: 768px) {
  width: 55px;
  height: 55px;
  font-size: 10px;
}
}
/* .user-list_item:last-child > span {
    margin-left: -16px;
} */
.start-user-list__item_number {
  
 
  font-size: 14px;
  @media screen and (min-width: 768px) {
  
  font-size: 18px;
}
}


.hero-title {
  font-family: var(--font-family);
font-weight: 500;
font-size: 40px;

/* line-height: 44px; */ 
line-height: 1.1;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #fff;

max-width: 335px;
height: auto;
/* height: 132px; */
margin-bottom: 14px;
}
.hero-title_accent {
  font-style: italic;
color: var(--light-green);
}

.hero-text {
  font-family: var(--font-family);
font-weight: 400;
font-size: 14px;

/* line-height: 18px; */ 
line-height: 1.28571;
letter-spacing: -0.04em;
color: #fff;
}

.hero-img {
  width: 100%;
  max-width: 303px;
  height: auto;
height: 236px;
border: none;
}